name: Dokoola Websocket Container

services:
  websocket:
    container_name: dokoola-websocket
    
    build: .
    env_file:
      - .env.prod
    ports:
      - "5500:5500"

    command: node dist/server.js

    environment:
      REDIS_PORT: 6379
      REDIS_USER: default
      REDIS_HOST: redis
      REDIS_PASS: dkl!-@redis-pass-#321

    depends_on:
      - redis

  redis:
    container_name: dokoola-websocket-cache
    image: redis:alpine
    command: redis-server --requirepass dkl!-@redis-pass-#321